h1 {
  font-weight: bold;
  color: #A52A2A;
}

h2 {
  font-style: italic;
}
.color {
  background-color: #FFC0CB;
}
.important {
  font-style: italic
}
p.end {
  font-family: cursive;
}
.tower {
  float: right;
}
